body{
background-color: black;

}
.container{
    width: 90%;
    margin: auto;
    background-color: white;
  
}
/*Header by Roy Nwakamma and Obinna Chijioke  */
.header{
width: 100%;
height: 15vh;
background-color: white;
}
.header >.insideheader {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.navhead {
    width: 30%;
    display: flex;
    margin-top: 41px;
    justify-content: space-between;
    font-size: 0.72rem;
    color: rgb(23, 23, 59);
}
.insideheader >div>img {
    width: 100px;
    height: 20px;
    margin-top: 40px;
}
.getbutton{
    width: 10%;
    height: 6vh;
    margin-top: 30px;
    border-radius: 2rem;
    border-style: none;
    background-color: #f3613c;
    font-size: 0.7rem;
    color: white;
    box-shadow: 10px 10px white;
}
.getbutton:hover{
    opacity: .6;
}
.each:hover{
    opacity: .5;
}
/*section one by John Ilozor and Joann Otaru  */
.one{
    width: 100%;
    height: 38vh;
    background-color: blueviolet;
    /* background-image: url("images/bg-tablet-pattern.svg"); */
    background-repeat: repeat;
}
/* section two by Innocent Chukwuemeka and MacNelson */
.two{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    margin: 0%;
    /* background-color: blue; */
}

/* by Innocent Chukwuemeka */
.heading{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(10, 10, 61);
    max-width: 250px;
    display: flex;
}

.text{
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
     max-width: 250px;
     font-size: smaller;
     display: flex;

}
.two-1{
    text-align: justify;
    /* margin-top: 200px; */
    margin-left: 30px;
    /* background-color: black; */
    width: 50%;
    height: 50vh;
    
}

/* by MacNelson */
.two .right {
    /* background-color: blue; */
    width: 50%;
    height: 50vh;
    padding-left: 100px;
}

.two .right-items {
    width: 100%;
    /* background-color: green; */
    height: 50vh;
}

.two .right-items .top,
.center,
.bottom {
    display: flex;
    flex-direction: column;
    width: 100%;
/* background-color: pink; */
}


.two .right-items .text {
/* background-color: pink; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.two .upp {
    height: 5vh;
    display: flex;
    align-items: center;
    width: 100%;

}

.two .upp h4 {
    margin-left: 15px;
    font-size: 14px;
    display: flex;
    align-items: center;
    /* background-color: black; */
}

.two .right-items .num {
    background-color: orangered;
    height: 4vh;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    width: 9%;
    border-radius: 30px;
}

.two .text p {
    margin-top: -5px;
    margin-left: 65px;
    max-width: 300px;
    height: 11vh;
    font-size: 13px;
    line-height: 20px;
    color: gray;
    /* background-color: black; */
}
@media screen and (max-width: 500px){
    .two-1, .heading, .text{
        width: 100%;
    }
}
/* section three by ThankGod Obiekwe and Samuel Arikpo */
.three{
width: 100%;
height: 95vh;
/* background-color: brown; */
}

.what{
    font-family: poppins;
    padding: 1em;
    text-align: center;
    font-size: 20px;
}

.cmnt{
    text-align: center;
    display: flex;
    justify-content: space-around;
}

img{
    width: 80px;
    height: 80px;
}

.cmnt h2{
    font-family: poppins;
    color: black;
    font-size: 18px;
    padding: 10px;
}

p{
    width: 365px;
    height: 80px;
    font-family: poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
}

/* .btn{
    display: flex;
    margin: 4em;
    justify-content: center;
}

.btn button{
    background-color: orangered;
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 40px;
    padding: 10px 20px;
    color: white;
}
.btn button:hover{
    cursor: pointer;
} */
/* section four by Anthonia Agbulu and Merit Okafor */
.four{
width: 100%;
height: 15vh;
background-color: orangered;
}
/* footer by Chinemerem and Babatunde */
.footer{
    width: 100%;
    height: 20vh;
    background-color: black;
}

@media  screen and (max-width: 600px) {
  
   .container {
width: 100%;

    }
    /* Header by Roy Nwakamma and Obinna Chijioke */
.header{

}
/*section one by John Ilozor and Joann Otaru  */
.one{

}
/* section two by Innocent Chukwuemeka and MacNelson */

/* MacNelson */
.two{
    margin: 0%;
    height: 70vh;
    width: 100%;
    /* background-color: aliceblue; */
    padding: 0%;
    display: flex;
    flex-direction: column;
}

.two .right {
    background-color: green;
    padding: 0%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.two .right-items {
    display: flex;
    flex-direction: column;
    /* background-color: blue; */
    width: 100%;
}
.two .upp h4{
  font-size: 18px;
}
.two .upp {
    width: 97%;
    display: flex;
    padding-left: 10px;
    height: 3vh;
    background-color: rgb(255, 230, 221);
}

.two .text {
    margin-top: 12px;
    /* background-color: yellow; */
    width: 95%;
display: flex;
margin-left: 25px;
justify-content: center;
align-items: center;
}

.two .text p {
    line-height: 20px;
    /* background-color: gray; */
    max-width: 140%;
    font-size: 16px;
}

.two .right-items .num {
    width: 15%;
    font-size: 15px;
    height: 4vh;
}


/* section three by ThankGod Obiekwe and Samuel Arikpo */
.three{
    width: 100%;
    height: 70vh;
}
.what{
    font-size: 18px;
}
.cmnt p{
    
    padding: 15px;
}
/* section four by Anthonia Agbulu and Merit Okafor */
.four{

}
/* footer by Chinemerem and Babatunde */
.footer{

}

}