body{
background-color: black;

}
.container{
    width: 90%;
    margin: auto;
    background-color: white;
  
}
/*Header by Roy Nwakamma and Obinna Chijioke  */
.header{
width: 100%;
height: 10vh;
background-color: aqua;
}
/*section one by John Ilozor and Joann Otaru  */
.one{
    width: 100%;
    height: 38vh;
    background-color: blueviolet;
    /* background-image: url("images/bg-tablet-pattern.svg"); */
    background-repeat: repeat;
}
/* section two by Innocent Chukwuemeka and MacNelson */
.two{
width: 100%;
height: 50vh;
background-color: blue;
}
.heading{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(10, 10, 61);
    max-width: 250px;
    display: flex;
}

.text{
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
     max-width: 250px;
     font-size: smaller;
     display: flex;

}
.two-1{
    text-align: justify;
    margin-top: 200px;
    margin-left: 30px;
    
}
@media screen and (max-width: 500px){
    .two-1, .heading, .text{
        width: 100%;
    }
}
/* section three by ThankGod Obiekwe and Samuel Arikpo */
.three{
width: 100%;
height: 95vh;
/* background-color: brown; */
}

.what{
    font-family: poppins;
    padding: 1em;
    text-align: center;
    font-size: 20px;
}

.cmnt{
    text-align: center;
    display: flex;
    justify-content: space-around;
}

img{
    width: 80px;
    height: 80px;
}

.cmnt h2{
    font-family: poppins;
    color: black;
    font-size: 18px;
    padding: 10px;
}

p{
    width: 365px;
    height: 80px;
    font-family: poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
}

/* .btn{
    display: flex;
    margin: 4em;
    justify-content: center;
}

.btn button{
    background-color: orangered;
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 40px;
    padding: 10px 20px;
    color: white;
}
.btn button:hover{
    cursor: pointer;
} */
/* section four by Anthonia Agbulu and Merit Okafor */
.four{
width: 100%;
height: 15vh;
background-color: orangered;
}
/* footer by Chinemerem and Babatunde */
.footer{
    width: 100%;
    height: 20vh;
    background-color: black;
}

@media  screen and (max-width: 600px) {
  
   .container {
width: 100%;

    }
    /* Header by Roy Nwakamma and Obinna Chijioke */
.header{

}
/*section one by John Ilozor and Joann Otaru  */
.one{

}
/* section two by Innocent Chukwuemeka and MacNelson */
.two{

}
/* section three by ThankGod Obiekwe and Samuel Arikpo */
.three{
    width: 100%;
    height: 70vh;
}
.what{
    font-size: 18px;
}
.cmnt p{
    
    padding: 15px;
}
/* section four by Anthonia Agbulu and Merit Okafor */
.four{

}
/* footer by Chinemerem and Babatunde */
.footer{

}

}