body{
background-color: black;

}
.container{
    width: 90%;
    margin: auto;
    background-color: white;
  
}
/*Header by Roy Nwakamma and Obinna Chijioke  */
.header{
width: 100%;
height: 15vh;
background-color: white;
}
.header >.insideheader {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.navhead {
    width: 30%;
    display: flex;
    margin-top: 41px;
    justify-content: space-between;
    font-size: 0.72rem;
    color: rgb(23, 23, 59);
}
.insideheader >div>img {
    width: 100px;
    height: 20px;
    margin-top: 40px;
}
.getbutton{
    width: 10%;
    height: 6vh;
    margin-top: 30px;
    border-radius: 2rem;
    border-style: none;
    background-color: #f3613c;
    font-size: 0.7rem;
    color: white;
    box-shadow: 10px 10px white;
}
.getbutton:hover{
    opacity: .6;
}
.each:hover{
    opacity: .5;
}
/*section one by John Ilozor and Joann Otaru  */
.one{
    width: 100%;
    height: 50vh;
    background-color: #f0f5f7;
    background-image: url("images/bg-tablet-pattern.svg");
    background-repeat: repeat;
    display:flex;
    justify-content: center;
    /* Joan you can modify the above section to accommodate the image */
}
.section-1{
     margin-left: 70px; 
} 

.section-1 h2{
    font-size: 30px;
    margin-top: 40px;
}
.section-1 p{
    margin-top: 20px; 
}
.start1{
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 18px;
    color: whitesmoke;
    margin-right: 410px;
    background-color: #f3613c; 
    margin-left: 80px;
    margin-top: 20px;
    width: 20%;
}
.start1:hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}
/* Joan Add you CSS on section below */
.sectionone-img1{
    transform: scale(0.5);
} 

/* section two by Innocent Chukwuemeka and MacNelson */
.two{
width: 100%;
height: 50vh;
background-color: blue;
}
.heading{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(10, 10, 61);
    max-width: 250px;
    display: flex;
}

.text{
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
     max-width: 250px;
     font-size: smaller;
     display: flex;

}
.two-1{
    text-align: justify;
    margin-top: 200px;
    margin-left: 30px;
    
}
@media screen and (max-width: 500px){
    .two-1, .heading, .text{
        width: 100%;
    }
}
/* section three by ThankGod Obiekwe and Samuel Arikpo */
.three{
width: 100%;
height: 95vh;
/* background-color: brown; */
}

.what{
    font-family: poppins;
    padding: 1em;
    text-align: center;
    font-size: 20px;
}

.cmnt{
    text-align: center;
    display: flex;
    justify-content: space-around;
}

img{
    width: 80px;
    height: 80px;
}

.cmnt h2{
    font-family: poppins;
    color: black;
    font-size: 18px;
    padding: 10px;
}

p{
    width: 365px;
    height: 80px;
    font-family: poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
}

/* .btn{
    display: flex;
    margin: 4em;
    justify-content: center;
}

.btn button{
    background-color: orangered;
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 40px;
    padding: 10px 20px;
    color: white;
}
.btn button:hover{
    cursor: pointer;
} */
/* section four by Anthonia Agbulu and Merit Okafor */
.four{
width: 100%;
height: 15vh;
background-color: orangered;
}
/* footer by Chinemerem and Babatunde */
.footer{
    width: 100%;
    height: 20vh;
    background-color: black;
}

@media  screen and (max-width: 600px) {
  
   .container {
width: 100%;

    }
    /* Header by Roy Nwakamma and Obinna Chijioke */
.header{

}
/*section one by John Ilozor and Joann Otaru  */
.one{
    width: 100%;
    height: auto;
    background-color: #f0f5f7;
    background-image: url("images/bg-tablet-pattern.svg");
    background-repeat: repeat;
    display:flex;
    flex-direction:column-reverse;
    justify-content: center;
}

.sectionone h2{
    font-size: 10px;
    margin-left: 40px;
    margin-top: 80px;
}
.sectionone p{
    margin-left: 15px;
    font-size: 10px; 
}
.start1{
    box-sizing: border-box;
    border-radius: 2px;
    font-size: 12px;
    color: whitesmoke;
    margin-right: 10px;
    background-color: #f3613c; 
    margin-left: 20px;
    width: 20%;
}
.start1:hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}
.sectionone-img1{
    transform: scale(0.3);
    flex-shrink: 3;
} 

}
/* section two by Innocent Chukwuemeka and MacNelson */
.two{

}
/* section three by ThankGod Obiekwe and Samuel Arikpo */
.three{
    width: 100%;
    height: 70vh;
}
.what{
    font-size: 18px;
}
.cmnt p{
    
    padding: 15px;
}
/* section four by Anthonia Agbulu and Merit Okafor */
.four{

}
/* footer by Chinemerem and Babatunde */
.footer{

}

